In [4]:
5+10

15

# This is my first code

## Order of operations

In [5]:
1+3*3

10

In [6]:
1+5**2

26

In [7]:
(3-1)*7

14

In [9]:
9/2

4.5

In [10]:
9//2

4

In [11]:
x = 9

In [12]:
type(x)

int

In [14]:
type(10.5)

float

## Complex numbers

#### This is a heading

In [15]:
x1 = complex(1,5)
x2 = complex(2,4)

In [30]:
type(x2)==type(1.0)

False

## Comments

In [31]:
x = 1
# this is a comment
y = 10
# Another comment

x+y

11

In [32]:
x=11
X=10

11

In [34]:
X

10

In [ ]:
x = 10
y = 11
z = x+y

# Booleans

In [41]:
x = True
y = False

print(x or y)

print(x and y)

print(not x)

print(not y or x)

print(not y and y)

True
False
False
True
False

In [44]:
a = 5
b = 3

print(a==b)

False

# Strings

In [48]:
x1 = 'hello'
x2 = '''hello'''
x3 = "hello"
print(x1==x2==x3)

True

In [50]:
"hello"

'hello'

In [55]:
x = 'MagNIMIND ACADemy'
print(x.lower())
print(x.upper())
print(x.capitalize())
print(x.title())

magnimind academy
MAGNIMIND ACADEMY
Magnimind academy
Magnimind Academy

In [58]:
c = '''Today it's sunny'''
print(c)

Today it's sunny

In [61]:
course  = 'Python for Begginers '
print(course+str(101))

Python for Begginers 101

In [60]:
str(int(99))

'99'

In [65]:
course = 'Itroduction to Python'

course[0:11]

'Itroduction'

In [67]:
course[-6:]

'Python'

In [69]:
x = 'Python'
print(x[-1], x[-2], x[-3])

n o h

In [70]:
import string

In [71]:
string.punctuation

'!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~'

In [72]:
string.digits

'0123456789'

In [77]:
t = '!!7657!***%%%Hi &&& there $$$###@@090909'
print(t)
t.strip(string.punctuation+string.digits).strip()

!!7657!***%%%Hi &&& there $$$###@@090909

'Hi &&& there'

In [79]:
x1 = '    Hi there      9999'
x1.strip(string.punctuation+string.digits).strip()

'Hi there'

# Lists

In [89]:
L = ['Sam', 'Sarah', 'Mary', 101, 99.9, complex(1,4)]
type(L[0])

str

In [90]:
L2 = ['Zoe', 'Zain', [1,2,3,'Sam'], 'Mary']

In [91]:
L2[2]

[1, 2, 3, 'Sam']

In [92]:
L2[0] = 'Magnimind'

In [93]:
L2

['Magnimind', 'Zain', [1, 2, 3, 'Sam'], 'Mary']

In [94]:
L2[2]  ='Technology'

In [95]:
L2

['Magnimind', 'Zain', 'Technology', 'Mary']

## Shallow vs Deep Copy

In [96]:
L1 = [1,2,3]
L2 = L1

L1[1] = 100

print(L2)

[1, 100, 3]

In [97]:
L1 = [1,2,3]
L2 = L1[:]

L1[1] = 100

print(L2)

[1, 2, 3]

In [101]:
L = [1, [5,6,10], 100]
L[1][2]

10

## Expanding Lists

In [115]:
colors = ['blue', 'red', 'yellow']

colors.append('black')
#colors.append(['white', 'green'])
colors.extend(['white', 'green'])
colors

['blue', 'red', 'yellow', 'black', 'white', 'green']

## Sorting lists

In [119]:
grades = [90, 95, 80]
grades.sort(reverse=True)
print(grades)

[95, 90, 80]

In [120]:
grades.insert(1, 100)

In [121]:
grades

[95, 100, 90, 80]

In [122]:
grades.pop(1)

100

In [123]:
grades

[95, 90, 80]

In [125]:
idx = grades.index(90)
grades.pop(idx)
grades

[95, 80]

## Applying stats on lists

In [126]:
min(grades)

80

In [127]:
max(grades)

95

## Sets in Python
    - unordered collection of unique elements

In [128]:
s1 = set([1,2,3])
s1

{1, 2, 3}

In [129]:
s2 = {1,2,3}

In [130]:
s1==s2

True

In [131]:
s1 = set([1,6,3])
s1.add(5)
s1

{1, 3, 5, 6}

In [133]:
s1.add(5)
s1.add(5)
s1.add(5)
s1

{1, 3, 5, 6}

In [134]:
s = set([1,2,2,2,2,2,6])
s

{1, 2, 6}

In [135]:
s.add(10)
s.add(11)
s

{1, 2, 6, 10, 11}

## Discarding element from sets

In [136]:
s.discard(11)
s

{1, 2, 6, 10}

In [137]:
s.remove(6)
s

{1, 2, 10}

In [143]:
s.remove(100)
s

KeyError: 100

In [145]:
s1 = {3,5,8}
L = list(s1)
print(L)

s2 = set(L)
print(s2)

[8, 3, 5]
{8, 3, 5}

In [147]:
L1 = [1,2,3,7]
s = set(L1)
L2 = list(s)
L2

[1, 2, 3, 7]

In [148]:
s1 = {'John', 'Sarah', 'Zoe', 'Sam'}
s2 = {'Sarah', 'Sam', 'Max'}

s1&s2

{'Sam', 'Sarah'}

In [149]:
s1-s2

{'John', 'Zoe'}

In [150]:
s2-s1

{'Max'}

In [151]:
s1|s2

{'John', 'Max', 'Sam', 'Sarah', 'Zoe'}

In [152]:
s1^s2

{'John', 'Max', 'Zoe'}

## Subsets vs Supersets

In [155]:
s1 = {'Max', 'Zoe', 'Mary'}
s2 = {'Zoe', 'Max'}

s1.issuperset(s2)

True

In [156]:
s2.issubset(s1)

True

In [161]:
s1 = {1,4,3,10}
len(s1)

4

In [162]:
sum(s1)

18

In [163]:
min(s1)

1

In [164]:
max(s1)

10

In [165]:
sorted(s1)

[1, 3, 4, 10]

## Tuples
Sequence of ordered elements.
Tuples are immutable.

In [166]:
t1 = 5,8,10

In [167]:
type(t1)

tuple

In [168]:
t2 = (5,8,10)

In [169]:
t1==t2

True

In [172]:
tt = 6,
type(tt)

tuple

In [175]:
lunches = tuple(['Pizza', 'Salad', 'Pasta'])
'Pizza' in lunches

True

In [177]:
'Pasta' in lunches

False

In [178]:
lun = list(lunches)
lun

['Pizza', 'Salad', 'Pasta']

In [179]:
lunches

('Pizza', 'Salad', 'Pasta')

## Unpacking Lists or Tuple

In [184]:
x,y,z, t = (7,9, 'Something else', None)
print(x)
print(y)
print(z)
print(t)

7
9
Something else
None

In [186]:
a0, a1 = [5, 10]
print(a0)
print(a1)

5
10

## Dictionaries
    - Key value pairs!

In [189]:
d = {'School':'Stanford', 'location':'CA'}
d['location']

'CA'

In [191]:
codingLan = {'Python':1, 'C++':5, 'Java':3, 'R':10}

10

In [194]:
list(codingLan.keys())

['Python', 'C++', 'Java', 'R']

In [195]:
list(codingLan.values())

[1, 5, 3, 10]

In [196]:
codingLan.items()

dict_items([('Python', 1), ('C++', 5), ('Java', 3), ('R', 10)])

## Update dictionaries

In [197]:
d1 = {'a':10, 'b':20}
d2 = {'b':30, 'd':100}

d1.update(d2)

In [198]:
d1

{'a': 10, 'b': 30, 'd': 100}

In [202]:
d = {'names':['Max', 'Zoe', ['Jon', 'Mary']]}
d['names'][2][1]

'Mary'

In [203]:
d = {'student':{'name':'Sarah', 'phone':'1111'}}

In [205]:
d['student']['phone']

'1111'

In [215]:
d1

{'a': 10, 'b': 30, 'd': 100}

In [209]:
d1.get('a')

10

In [210]:
d1['a']

10

In [211]:
d1['ccc']

KeyError: 'ccc'

In [218]:
print(d1.get('aa', 0))

0

In [221]:
grades = {'Sarah':95, 'John':90, 'Zoe':100}
print(sorted(grades, key=grades.get, reverse=True))
print(sorted(grades, key=grades.get, reverse=False))

['Zoe', 'Sarah', 'John']
['John', 'Sarah', 'Zoe']

In [222]:
d1.get('a')

10

# IF Statements

In [225]:
x = 8

if x>15:
    print('Wow!')
elif x>10:
    print('OK')
else:
    print('Yay')

Yay

In [236]:
x = 14
y = 'Odd' if x%2==1 else 'Even'
y

'Even'

In [232]:
7%2

0

In [237]:
x = 14
if x%2==1:
    print('Odd')
else:
    print('Even')

Even

In [241]:
x%2==1

False

In [244]:
x = 15

if x%3==0:
    print('Factor of 3')
elif x%3==1:
    print('Factor of 3 + 1')
else:
    print('Factor of 3 + 2')

Factor of 3

## For loops

In [254]:
x = [5,10, 3, 10, 19, 3, 29, 50]
len(x)

8

In [255]:
for i in range(len(x)):
    print(x[i])

5
10
3
10
19
3
29
50

In [257]:
students = ['Mustafa', 'Sami', 'Mary']
for i in range(len(students)):
    print(students[i])

Mustafa
Sami
Mary

In [258]:
for student in students:
    print(student)

Mustafa
Sami
Mary

## While loops

In [259]:
i = 0 
while i<5:
    print(i)
    i = i + 1

0
1
2
3
4

In [261]:
counter = 0
while counter<3:
    name = input('Type a name: ')
    if name.startswith('M'):
        counter = counter+1

Type a name: Mary
Type a name: Mary
Type a name: Mary

## Break vs Continue in loops

In [262]:
for i in range(0, 10):
    print(i)
    if i>5 and i<=8:
        continue
    print('Hello', i)

0
Hello 0
1
Hello 1
2
Hello 2
3
Hello 3
4
Hello 4
5
Hello 5
6
7
8
9
Hello 9

In [263]:
for i in range(0, 10):
    print(i)
    if i>5:
        break
    print('Hello', i)

0
Hello 0
1
Hello 1
2
Hello 2
3
Hello 3
4
Hello 4
5
Hello 5
6