## Lambda function

In [1]:
f = lambda x: min(x)

In [2]:
f([5,3,7,10])

3

In [3]:
f([10, 6, 100, 29])

6

In [4]:
min([10, 6, 100, 29])

6

In [5]:
g = lambda x,y: [x+y, x-y, x*y, x/y, 'Thanks for visiting the function']

In [6]:
g(5,9)

[14, -4, 45, 0.5555555555555556, 'Thanks for visiting the function']

In [7]:
fun = lambda x: 'is even' if x%2==0 else 'is odd'

In [11]:
print(fun(17))
print(fun(2))
print(fun(9))

is odd
is even
is odd

In [14]:
def fun2(x):
    if x%2==0:
        return 'is even'
    else:
        return 'is odd'

In [15]:
for number in [7, 18, 15, 13, 20, 24]:
    print(number, fun(number), fun2(number))

7 is odd is odd
18 is even is even
15 is odd is odd
13 is odd is odd
20 is even is even
24 is even is even

## List comprehension

In [16]:
grades = []
for i in range(10):
    grades.append(None)
grades

[None, None, None, None, None, None, None, None, None, None]

In [17]:
[None for i in range(10)]

[None, None, None, None, None, None, None, None, None, None]

In [18]:
[None]*10

[None, None, None, None, None, None, None, None, None, None]

In [19]:
names = ['Mary', 'jon', 'Zoe', 'Sam', 'zain']
[name for name in names if name[0].lower()==name[0]]

['jon', 'zain']

In [26]:
import string
string.ascii_lowercase
[name for name in names if name[0] in string.ascii_lowercase]

['jon', 'zain']

In [27]:
[name for name in names if name[0] in string.ascii_uppercase]

['Mary', 'Zoe', 'Sam']

## Find all factors of 5 between 5 and 20 and their cubes

In [28]:
[(i, i**3) for i in range(5, 21) if i%5==0]

[(5, 125), (10, 1000), (15, 3375), (20, 8000)]

In [29]:
[(i, i**3) for i in range(5, 25, 5)]

[(5, 125), (10, 1000), (15, 3375), (20, 8000)]

In [30]:
list(range(5, 25, 5))

[5, 10, 15, 20]

## Another example

In [31]:
fruits = ['Strawberry', 'Raspberry', 'Apple', 'banana', 'blueberry']
# Select all the fruits that start with "a" or "b"

[fruit for fruit in fruits if fruit[0].lower() in ['a', 'b']]

['Apple', 'banana', 'blueberry']

In [32]:
list(range(5, 25, 5))

[5, 10, 15, 20]

In [33]:
list(range(5,21, 5))

[5, 10, 15, 20]

## Map

In [34]:
iseven = lambda x: True if x%2==0 else False

In [35]:
list(map(iseven, [1,4,9,8,7,10]))

[False, True, False, True, False, True]

In [36]:
result = []
for n in [1,4,9,8,7,10]:
    result.append(iseven(n))
result

[False, True, False, True, False, True]

In [37]:
for number, res in zip([1,4,9,8,7,10], result):
    print(number, res)

1 False
4 True
9 False
8 True
7 False
10 True

In [38]:
for x,y in zip(['a', 'b'], [3, 8]):
    print(x,y)

a 3
b 8

In [42]:
d = {'apple': 1.49, 'banana': 0.99, 'strawberry': 2.49}

list(map(lambda x: d.get(x, 'Hahah'), ['apple', 'pear']))

[1.49, 'Hahah']

In [46]:
d.get('pear', 'Something else')

'Something else'

## Filter

In [52]:
list(filter(lambda x: True if x%2==0 else False, range(1,10)))

[2, 4, 6, 8]

In [54]:
schools  = ['Stanford', 'Harvard', 'San Jose State University', 'UC Santa Cruz']
[name for name in schools if len(name)>10 or not name.startswith('S')]

['Harvard', 'San Jose State University', 'UC Santa Cruz']

## Dictionary as iterable

In [58]:
grades = {'Jon':85, 'Sarah':95, 'Zoe':100}
[(key, grades[key]) for key in grades if grades[key]>90]

[('Sarah', 95), ('Zoe', 100)]

## More than one iterable

In [60]:
col_dress = ['green', 'blue', 'black']
col_shoe  = ['orange', 'blue', 'black']

[(dress, shoe) for dress in col_dress for shoe in col_shoe if dress!=shoe]

[('green', 'orange'),
 ('green', 'blue'),
 ('green', 'black'),
 ('blue', 'orange'),
 ('blue', 'black'),
 ('black', 'orange'),
 ('black', 'blue')]

In [61]:
xyz = lambda c1, c2: (c1, c2) if c1!=c2 else None
[xyz(c1,c2) for c1 in col_dress for c2 in col_shoe]

[('green', 'orange'),
 ('green', 'blue'),
 ('green', 'black'),
 ('blue', 'orange'),
 None,
 ('blue', 'black'),
 ('black', 'orange'),
 ('black', 'blue'),
 None]

In [71]:
schools  = ['Stanford', 'Harvard', 'San Jose State University', 'UC Santa Cruz']
%time print([name for name in schools if len(name)>10 or not name.startswith('S')])

schools  = ['Stanford', 'Harvard', 'San Jose State University', 'UC Santa Cruz']
%time list(filter(lambda x: True if len(x)>10 or not x.startswith('S') else False, schools))

['Harvard', 'San Jose State University', 'UC Santa Cruz']
CPU times: user 79 µs, sys: 17 µs, total: 96 µs
Wall time: 101 µs
CPU times: user 17 µs, sys: 0 ns, total: 17 µs
Wall time: 21.9 µs

['Harvard', 'San Jose State University', 'UC Santa Cruz']

In [68]:
list(filter(lambda x: 'True' if x%2==0 else 'False', range(1, 10)))

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [72]:


list(filter(lambda x: True if len(x)>3 else False, ['Sam', "Max", '''mary''', 'Sarah']))

['mary', 'Sarah']

In [74]:
""" kjf kjfg
kgl hg jgjh"""

' kjf kjfg\nkgl hg jgjh'

In [85]:
fruits = {'apple':1.49, 'banana':0.79, 'strawberry': 1.99, 'blackberry':3.99, 'pear':3.49}

def category(x):
    if x<1 and x>0:
        return 'cheap'
    elif x>1 and x<2:
        return 'reasonable'
    elif x>2:
        return 'ripoff'
    else:
        return 'Unknown'
    
[(fruit, price, category(price)) for fruit, price in fruits.items()]

[('apple', 1.49, 'reasonable'),
 ('banana', 0.79, 'cheap'),
 ('strawberry', 1.99, 'reasonable'),
 ('blackberry', 3.99, 'ripoff'),
 ('pear', 3.49, 'ripoff')]

In [77]:
[(fruit, fruits[fruit], category(fruits[fruit])) for fruit in fruits]

[('apple', 1.49, 'reasonable'),
 ('banana', 0.79, 'cheap'),
 ('strawberry', 1.99, 'reasonable'),
 ('blackberry', 3.99, 'ripoff'),
 ('pear', 3.49, 'ripoff')]

In [84]:
rrr = []
for fruit in fruits:
    rrr.append((fruit, fruits[fruit], category(fruits[fruit]) ))
rrr

[('apple', 1.49, 'reasonable'),
 ('banana', 0.79, 'cheap'),
 ('strawberry', 1.99, 'reasonable'),
 ('blackberry', 3.99, 'ripoff'),
 ('pear', 3.49, 'ripoff')]

In [86]:
fruits.items()

dict_items([('apple', 1.49), ('banana', 0.79), ('strawberry', 1.99), ('blackberry', 3.99), ('pear', 3.49)])

In [88]:
g1 = lambda x: min(x)
g2 = lambda x: max(x)
g3 = lambda x: None

L = [7,3,10]
print(g1(L), g2(L), g3(L))

3 10 None

In [90]:
list(filter(lambda x: True if len(x)>3 else False, ['ras', 'hakim', 'noor', 'mawla']))

['hakim', 'noor', 'mawla']

In [91]:
fruits

{'apple': 1.49,
 'banana': 0.79,
 'strawberry': 1.99,
 'blackberry': 3.99,
 'pear': 3.49}

In [93]:
for fruit in fruits:
    print(fruit, fruits[fruit])

apple 1.49
banana 0.79
strawberry 1.99
blackberry 3.99
pear 3.49

In [96]:
for key in fruits:
    print(key)

apple
banana
strawberry
blackberry
pear

In [97]:
['True', '''True''', "True"]

['True', 'True', 'True']

In [98]:
import math

In [99]:
math.factorial(5)

120

In [101]:
from math import factorial, sin, sinh, pi

In [111]:
from math import *

In [103]:
area = lambda x: pi*x**2

In [106]:
area(10)

314.1592653589793

In [110]:
round(sin(math.pi),2)

0.0

In [112]:
cos(pi)

-1.0

In [113]:
math.cos(math.pi)

-1.0

In [116]:
log(100000, 10)

5.0

In [117]:
import datetime

In [118]:
dir(datetime)

['MAXYEAR',
 'MINYEAR',
 '__builtins__',
 '__cached__',
 '__doc__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 'date',
 'datetime',
 'datetime_CAPI',
 'sys',
 'time',
 'timedelta',
 'timezone',
 'tzinfo']

In [122]:
now = datetime.datetime.now()

now

datetime.datetime(2020, 4, 26, 11, 59, 15, 497290)

In [124]:
today = datetime.datetime.today()
today

datetime.datetime(2020, 4, 26, 11, 59, 41, 754577)

In [127]:
today.strftime('%Y-%m-%d')

'2020-04-26'

In [128]:
today.strftime('%y-%m-%d')

'20-04-26'

In [129]:
today.strftime('%Y-%b-%d %a')

'2020-Apr-26 Sun'

In [130]:
from datetime import *

In [132]:
x2 = datetime.today()
x2.strftime('%Y-%b')

'2020-Apr'

In [133]:
x2.day

26

In [137]:
x2.year

2020

In [138]:
x2.month

4

## Execution Time

In [139]:
%time [(i, i**4) for i in range(4,21, 4)]

CPU times: user 9 µs, sys: 0 ns, total: 9 µs
Wall time: 11.9 µs

[(4, 256), (8, 4096), (12, 20736), (16, 65536), (20, 160000)]

In [146]:
def findPrime(n):
    result = []
    for i in range(2, n):
        Prime = True
        for j in range(2,i,2):
            if i%j==0:
                Prime= False
        if Prime:
            result.append(i)
    return max(result)

%time findPrime(10000)

CPU times: user 2.64 s, sys: 27 ms, total: 2.66 s
Wall time: 2.72 s

9999

In [149]:
from datetime import *
from time import *

for i in range(5):
    t = datetime.now()
    print(t.strftime('%Y-%b-%d %H:%M:%S'))
    sleep(2)

2020-Apr-26 12:14:08
2020-Apr-26 12:14:10
2020-Apr-26 12:14:12
2020-Apr-26 12:14:14
2020-Apr-26 12:14:16

In [154]:
import math
%time math.factorial(5)

CPU times: user 4 µs, sys: 1e+03 ns, total: 5 µs
Wall time: 8.11 µs

120

In [ ]:
from xxx import fun1, fun2, fun3 # you can call fun1 or fun2 or fun3
import xxx   # xxx.fun5
from xxx import * # ==> fun4

In [164]:
import datetime
now = datetime.datetime.now()
xx = now + datetime.timedelta(days = -1040)
xx.strftime('%Y-%m-%d %a')

'2017-06-21 Wed'

In [172]:
t0 = datetime.datetime(2020,1,1)
t1 = datetime.datetime.today()
print(t0, t1)
print( (t1-t0).days)

2020-01-01 00:00:00 2020-04-26 12:32:34.319363
116

## Find the weekdays from today until 2021-01-01

In [174]:
t0 = datetime.datetime.today()
t1 = datetime.datetime(2021,1,1)
workdays = (((t1-t0).days/7)*5)
workdays

177.85714285714283

In [177]:
t0 = datetime.datetime(2021,1,1)
t1 = datetime.datetime.today()
tdiff = (t0-t1).days
wd = 0
for i in range(tdiff+1):
    xx = now + datetime.timedelta(days = i)
    if(xx.strftime('%a') in ("Mon", "Tue", "Wed", "Thu", "Fri")):
        wd = wd + 1
    
print(wd)

179

In [187]:
today = datetime.datetime.today()
t2    = datetime.datetime(2021,1,1)
count = 0 

ndays = (t2-today).days 
for i in range(ndays):
    if (today+datetime.timedelta(i)).weekday() not in [5,6]:
        count = count + 1 
count

178

In [188]:
t2.strftime('%a')

'Fri'

In [189]:
t2.month

1

In [190]:
t2.day

1

In [191]:
t2.year

2021

In [195]:
t1-t0

datetime.timedelta(days=-250, seconds=45564, microseconds=573831)

## The random module

In [196]:
import random

In [210]:
random.seed(123)

In [227]:
random.random()

0.5975994644879905

In [259]:
random.randint(0, 10)

8

In [285]:
random.randrange(start=10, stop=500, step=10) # returns random number between two numbers with a step

260

In [312]:
random.choice(['apple','pear', 'straberry', 'kiwi'])

'pear'

In [358]:
res = random.choices(['apple','pear', 'straberry', 'kiwi'],
               weights=[0.25, 0.25, 0.25, 0.25],
               k=20000)

In [359]:
from collections import Counter

In [360]:
Counter(res)

Counter({'pear': 5056, 'apple': 4939, 'kiwi': 5062, 'straberry': 4943})

In [361]:
for k in dict(Counter(res)):
    print(k, Counter(res)[k]/20000)

pear 0.2528
apple 0.24695
kiwi 0.2531
straberry 0.24715